@model SnapshotRequest

<div class="w-75 mx-auto">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        New Snapshot
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="show" aria-labelledby="headingOne" data-parent="#accordion" style="overflow-y:hidden">
                <div class="card-body">
                    <form asp-action="TakeSnapshot">
                        <div class="mb-2 mt-1">
                            <p class="fw-bold">Contract</p>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                                <label for="name" class="form-label fw-lighter">Name</label>
                                <input asp-for="Name" value="Snapshot1" name="name" id="name" class="form-control" type="text"/>
                            </div> 
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                                <label for="address" class="form-label fw-lighter">Address</label>
                                <input asp-for="Address" value="0xbe7605284d66cedd604c7a7c15b79fa605be5662" name="address" id="address" class="form-control" type="text"/>
                            </div> 
                        </div>
                         <button class="btn-primary" onclick="getAddressInfo();return false;">Check address info</button>
                        <div>
                            <span id="isValidAddress"></span>
                            <span id="isContract"></span>
                            <span id="isToken"></span>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 col-md-12 col-xl-6">
                                <p class="fw-bold">Blocks</p>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-xl-6 mb-2">
                                        <label for="startBlock" class="form-label fw-lighter">Start at</label>
                                        <input value="19600586" asp-for="StartBlock" name="startBlock" class="form-control" type="number"/>
                                    </div>
                                    <div class="col-12 col-md-12 col-xl-6 mb-2">
                                        <label for="endBlock" class="form-label fw-lighter">End at</label>
                                        <input value="19601245" asp-for="EndBlock" name="endBlock" class="form-control" type="number"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <button class="btn-primary" type="submit">Scan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Load Snapshot
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <form asp-action="LoadSnapshot">
                        <div class="row mb-4">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                                <label for="name" class="form-label fw-lighter">Name</label>
                                <input asp-for="Name" value="Snapshot1" name="name" id="address" class="form-control" type="text"/>
                            </div> 
                         </div>
                        <div class="col-12">
                            <button class="btn-primary" type="submit">Load</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function getAddressInfo()
        {
            var val = $("#address").val();
            console.log(val);
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAddressInfo")",
                data: {"address":val},
                dataType: "text",
                success: function (data) {
                   var tokenInfo = JSON.parse(data);
                   $("#isValidAddress")[0].innerHTML = tokenInfo.isAddress ? "<span class='text-success'>✔</span><span> Is a valid address</span>":"<span class='text-error'>❌</span><span> Is not a valid address</span>";
                   $("#isContract")[0].innerHTML = tokenInfo.isContract ? "<span class='text-success'>✔</span><span> Is a contract</span>":"<span class='text-error'>❌</span><span> Is not a contract</span>";
                   $("#isToken")[0].innerHTML = tokenInfo.isToken ? "<span class='text-success'>✔</span><span> Is a token</span>":"<span class='text-error'>❌</span><span> Is not a token</span>";
                },
                error: function (req, status, error) {}
            }); 
        }
    
    </script>