html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.line {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.dot {
    fill: black;
    stroke: #fff;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
}